
#my_image{
  max-width: 400px;
  max-height:400px;
  width: auto;
  height: auto;
    border-radius:50%;
  }

  #about_me_paragraph{
    /* float: left; */
    shape-outside: circle(50%);
  

  }

  .footer {
    background: #061D25;
    padding: 10px 0;
    bottom:0;
    position:relative;
  }
  .footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
  }
  .footer a:first-child {
    border-left: 1px solid #70726F;
  }
  .footer a:hover {
    color: white;
  }