
#my_image{
  max-width: 300px;
  max-height:300px;
  width: auto;
  height: auto;
    border-radius:50%;
  }

  #about_me_paragraph{
    /* float: left; */
    shape-outside: circle(50%);
  

  }

  .footer {
    background: #061D25;
    padding: 10px 0;
    bottom:0;
    position:relative;
  }
  .footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
  }
  .footer a:first-child {
    border-left: 1px solid #70726F;
  }
  .footer a:hover {
    color: white;
  }

  .underline{
  /*   border-bottom-style: groove;
    border-bottom-color: coral;
    border-bottom-width: 7px; */
  }

  .main-content  {
    background-color: #987f34;
    background-image:
      linear-gradient(
        #ff818d, #f06d06
      );
  }
  
  .navbar-custom{
  background-color:#ff818d;
  }

  .nav-link{
    color:black;
  }

  .hobbies-images{
    float: left;
    width:  300px;
    height: 300px;
    object-fit: cover;
    padding-right:0 !important;
    padding-left:0 !important;
  }

  .sport-div{
    /* display: inline-block; */
  }
 