
#my_image{
  max-width: 300px;
  max-height:300px;
  width: auto;
  height: auto;
    border-radius:50%;
  }

  .name-title-div{
    background-image:url('images/index_images/duy-hoang-FRQUz7W1SvI-unsplash.jpg');
    background-size: cover ;
    color:white;
    padding-bottom: 20;
/*     display:block;
 */    height: calc(100vh - 50px);
  /*   background-color: orange; */
    background-color: black;
    

/*     line-height: 100vh; 
 */  }

 .summary-div{

/*     display:block;
*/    height: calc(100vh - 50px);
      width: calc(100vw);
/*    
*/  }

  #about_me_paragraph{
    /* float: left; */
    shape-outside: circle(50%);  
    line-height: 2.0;
    font-size:x-large;
    font-weight: bold;
  }

  .footer {
    background: #061D25;
    padding: 10px 0;
    bottom:0;
    position :fixed;
    width:100%;
  }
  .footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
  }
  .footer a:first-child {
    border-left: 1px solid #70726F;
  }
  .footer a:hover {
    color: white;
  }

  /* .index-page-cont{ */
    .main-content{
    /* min-height: -webkit-fill-available; */
    background-color: #987f34;
    background-image:
      linear-gradient(
       /*  #ff818d, #f06d06 */
        #fffbfb, #b16c36
      );

      display: flex;
      width:100%;
      height:130%; 
  }
  
  .navbar-custom{
  /* background-color:#f06d06; */
/*   background-color:white; */
  color:white;
  float:right;
  }

  .nav-link{
    color:white ! important;
  }



  .container  {
    background-color:black;
    /*background-image:
      linear-gradient(*/
       /*  #ff818d, #f06d06 */
       /*  #fffbfb, #b16c36 */
      /*  #fffbfb, #000000 */
     /* #fffbfb,#8f93a0 

      );*/
      min-height: 100%;
 /*    height: 100%;
    height: -moz-available;          
    height: -webkit-fill-available;  
    height: fill-available; */
      

  }
  .container-fluid  {
    background-color : black ;
    color:white;
/*     background-image:
      linear-gradient(
       /*  #ff818d, #f06d06 */
      /*   #0a0424, #0e1c4d */
        #0a0424, #000000 

      

      ); */
  /*   height: 200%;
    height: -moz-available;         
    height: -webkit-fill-available;  
    height: fill-available; */  
      

  }

/*   contain-custom{
    background-image:#f8f4f4
  }
 */

  /* .container  { */
  /*   background-color: #987f34; */
  /*   background-color: #6b6450; */
 /*    background-image:
      linear-gradient(
        #ff818d, #f06d06
      ); */
/*       background-image:
      linear-gradient(
        #fffcfc, #f06d06
      );
      
  } */

  .nav-link{
    color:black;
  }

  .hobbies-images{
    float: left;
    width:  300px;
    height: 300px;
    object-fit: cover;
    padding-right:0 !important;
    padding-left:0 !important;
  }


 
  html, body {
    /* height: 100%; */
    position: inherit;
    height: auto;
    font-family: Open Sans;
    
}

/* .main-content{

    display: flex;
    width:100%;
    height:100%;
    height:auto;


} */

.upper-space{
  padding-top: 20px;
  padding-bottom:20px;
}

/* .container{
  position:absolute; left:0px; right:0px; overflow:auto;
} */

/* header {
  background-color: #fd7171b8;
}
 */

.specifications{
  font-size:x-large;
  opacity: 0; 
  animation: opacityOn  normal forwards step-end;
  transition-duration: 3s;
  animation-delay: 1s;
}

p{
  font-size: 1.3em;
} 

li{
  font-size: 1.3em;
} 
 

.titleName{
  font-family: "Advent Pro" !important;
  font-weight: 700 !important;
  color: #3f3f3f !important;
  font-style: normal !important;
  text-transform: none !important;
  letter-spacing: 1px !important;
  display:inline-block;
}

.titleName-indexname{
  animation: 1s ease-out 0s 1 slideInFromLeft;
     font-weight: bold;
    /* color: #fff;  */
    font-size: 80px;

}

.about-me-title{
  font-size: 80px;

}

.carousel .carousel-item {
  height: 800px;
}

.carousel-item img {
   /*  position: absolute; */
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 800px;
}


/* .nav-custom{
  z-index:999!important;
} */

/* .main-dishan{
  margin-top: -200px;
}

 */

 .research_images{
  width:100px;
  height: 100px;
 }

 li{
  margin: 10px 0;
}

.sport-div{
margin: 10px 0;
}

 #portrait-image{
  max-width:60%;
  max-height:60%;
  margin-left:20%;
  border-radius: 50%;
  float:center;
  opacity: 0; 
  animation: opacityOn  normal forwards step-end;
  transition-duration: 3s;
 /*  animation-delay: 1s; */
} 

#news_div{
   width:75%;
   padding-top:5%;
   margin:auto;
}

.carouselIndicators{
  width:75%; 
  height:75%;
  padding-top:5%; 
  padding-bottom:7%; 
  margin: auto;
  margin-top: 5%;
}

.education-level-heading{
  margin-top:10%;
}

.subjects{
  font-size: initial;
}

.model-close-btn{
  float:right;
}

/* .carousel-control-next-icon {
  width: 5%;
  height: 5vw;
}
 */

/*  #portrait-image:hover {
  position:relative;
  top:-25px;
  left:-35px;
  width:500px;
  height:auto;
  display:block;
  z-index:999;
} */

/* Section Break 1 */


/* body{background:#444;} */
.divider {
  height: .5px;
  background: #000;
  background: -webkit-linear-gradient(left, rgb(255,255,255) 0%, rgb(50,50,50) 50%, rgb(255,255,255) 100%);
}
.divider.light {
  background: #fff;
  background: -webkit-linear-gradient(left, rgb(90,90,90) 0%, rgb(255,255,255) 50%, rgb(90,90,90) 100%);
}

.divider.light:before {
  position:relative;
  float:left;
  background: linear-gradient(to right, rgba(100, 100, 100, 0), rgba(100, 100, 100, 1) 50%);
  margin-top:2px;
  width:50%;
  height:.5px;
  content:"";
}

.divider.light:after {
  position:relative;
  float:right;
  background: linear-gradient(to left, rgba(100, 100, 100, 0), rgba(100, 100, 100, 1) 50%);
  margin-top:2px;
  width:50%;
  height:.5px;
  content:"";  
}

.divider:before {
  position:relative;
  float:left;
  background: linear-gradient(to right, rgba(200, 200, 200, 0), rgba(200, 200, 200, 1) 50%);
  margin-top:2px;
  width:50%;
  height:.5px;
  content:"";
}

.divider:after {
  position:relative;
  float:right;
  background: linear-gradient(to left, rgba(100, 200, 200, 0), rgba(200, 200, 200, 1) 50%);
  margin-top:2px;
  width:50%;
  height:.5px;
  content:"";  
}

.aboutme-div{
  padding-top:15%;
  box-sizing :content-box !important;
}

.square{
  width: 200px;
    height: 200px;
    background: orange;
    border-radius: 8px;
   /*  animation: wipe-enter-1 */
}

.square-animation{
  animation: wipe-enter 1s 1;
}

/* .leadership-info-div{
  height: calc(100vh);
} */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes mymove {
  from {top: 0px;}
  to {top: 200px;}
}

@keyframes opacityOn {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 1;
  }
}

@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

/* Presentation only */
.width80 {width:80%;margin:0px auto;padding-top:50px;}
.light-background {background:#fff;margin-top:50px;width:100%;height:100px;}



  /* For mobile:
  **********************************************************************
  ******************  Mobile css ***************************************
  **********************************************************************
  */

@media only screen and (max-width: 768px) {

  /* The nav icon will show */
  .navbar-custom{
    font-size:x-small;
    float: left;
     background-color:black; 
  }

  .navbar-toggler-icon{
    color:white;
  }
  .navbar-collapse{
    margin-left:20px;
  } 

  li {
    margin: unset;
    font-size: larger;
  }

  .summary-div{
    display:block;
    height: calc(100vh);
    width:100%;
    /*background-color: orange;
    line-height: 100vh;  */
  }


  .education-div{
    display:block;
  }

  #about_me_paragraph {
    margin-top:20px;
    /* float: left; */
    shape-outside: circle(50%);
    line-height: 2.0;
    font-size: initial;
    font-weight: bold;
  }

  #portrait-image{
    max-width:100%;
    max-height:100%;
    margin-left:10px;
  }

  #news_div{
    width:90%;
    margin:auto;
  }

  .carouselIndicators{
    width: 100%;
    height: 50%;
    padding-top: 5%;
    padding-bottom: 7%;
  }

  .subjects{
    font-size: smaller;
  }

  p{
    font-size: unset;
  } 

  header {
    background-color: #fd7171b8;
  }

}